[submodule "deps/SDL2"]
	path = deps/SDL2
	url = https://github.com/libsdl-org/SDL.git
[submodule "deps/libogg"]
	path = deps/libogg
	url = https://github.com/xiph/ogg.git
[submodule "deps/libvorbis"]
	path = deps/libvorbis
	url = https://github.com/xiph/vorbis.git
[submodule "deps/libpng"]
	path = deps/libpng
	url = https://github.com/pnggroup/libpng.git
